# Manolo Ram√≠rez Pintor - A01706155
## M√≥dulo Big Data:
### Utilizaci√≥n, procesamiento y visualizaci√≥n de grandes vol√∫menes de datos

## 1. Configurando el entorno de trabajo PySpark

Iniciamos revisando los recursos que tenemos disponibles en el sistema

Tenemos aproximadamente medio GB de RAM utilizado de los 24 GB que tenemos disponibles en total, as√≠ que tenemos suficientes recursos para trabajar con un dataset grande.

In [1]:
!free -m

              total        used        free      shared  buff/cache   available
Mem:          23988       11954        6001        5024        6031        6733
Swap:             0           0           0

In [2]:
!whoami

ubuntu

Para evitar tener muchos mensajes de advertencia en el notebook, importamos warnings para filtrarlos todos

In [3]:
import warnings
warnings.filterwarnings('ignore')

Ahora, ponemos las rutas de donde tenemos instalado Java 8 y Spark

In [4]:
#Estableciendo variable de entorno
import os
# import pandas as pd
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-arm64"
os.environ["SPARK_HOME"] = "/home/mc/spark/spark-3.2.2-bin-hadoop3.2"

Importamos findspark e inicializamos la instalaci√≥n de Spark

In [5]:
#Buscando e inicializando la instalaci√≥n de Spark
import findspark
findspark.init()
findspark.find()

'/home/mc/spark/spark-3.2.2-bin-hadoop3.2'

Ahora importamos SparkSession y creamos una sesi√≥n para este trabajo, en mi caso se llama ``bigData_Manolo``

In [6]:
from pyspark.sql import SparkSession
spark_session = SparkSession.builder.appName('bigData_Manolo').getOrCreate()
spark_session

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/10/29 03:46:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## 2. Seleccionando un dataset de gran tama√±o
En mi caso, encontr√© y seleccion√© el dataset de [Car Sales](https://www.kaggle.com/datasets/ekibee/car-sales-information), este lo encontr√© en Kaggle usando los filtros de tama√±o. El peso del dataset descomprimido llega a 2GB.

## 3. Generando un modelo inteligente de regresi√≥n con MLlib
### a) EDA b√°sico
Ya que en Kaggle se indica que los datos no est√°n completamente limpios, voy a revisar qu√© columnas tienen datos faltantes y qu√© es lo que puede servirme para luego hacer ETL y comenzar a realizar predicciones.   

Al momento de cargar el dataset, podemos ver que existen distintas columnas. Estos son datos obtenidos de una p√°gina parecida a un Mercado Libre ruso de autom√≥viles.   

Tenemos columnas como la marca, el modelo, el tipo de carrocer√≠a, color, tipo de combustible, a√±o, kilometraje, tipo de transmisi√≥n, poder en caballos de fuerza, precio en rublos, el nombre del motor, la capacidad del motor (en litros), la fecha de publicaci√≥n, la ubicaci√≥n del autom√≥vil, el link de la publicaci√≥n, la descripci√≥n y el momento en el que se captur√≥ la informaci√≥n desde la p√°gina.

In [7]:
df_spark = spark_session.read.option("header",True).csv('region25.csv')
df_spark.columns

['brand',
 'name',
 'bodyType',
 'color',
 'fuelType',
 'year',
 'mileage',
 'transmission',
 'power',
 'price',
 'vehicleConfiguration',
 'engineName',
 'engineDisplacement',
 'date',
 'location',
 'link',
 'description',
 'parse_date']

En base a la informaci√≥n que encontr√© en Kaggle, estableceremos el tipo de dato por columna.

In [8]:
df_spark = df_spark.withColumn("date",df_spark.date.cast('string'))
df_spark = df_spark.withColumn("parse_date",df_spark.parse_date.cast('string'))
df_spark = df_spark.withColumn("year",df_spark.year.cast('int'))
df_spark = df_spark.withColumn("mileage",df_spark.mileage.cast('int'))
df_spark = df_spark.withColumn("power",df_spark.power.cast('int'))
df_spark = df_spark.withColumn("price",df_spark.price.cast('int'))

A continuaci√≥n realizar√© un describe, aparecer√° roto por el gran n√∫mero de columnas pero lo arreglar√© con Markdown...

* Tenemos 1,513,200 filas totales en el dataset.   
* El precio promedio de los autom√≥viles es de 1,368,558.3 rublos.   
* Hay columnas que son de datos num√©ricos pero que presentan valores nulos.

In [9]:
df_spark.describe().show()

+-------+-------+------------------+-------------+-------+--------+------------------+------------------+------------+-----------------+------------------+--------------------+-----------+------------------+-------------------+-----------+--------------------+--------------------+--------------------+
|summary|  brand|              name|     bodyType|  color|fuelType|              year|           mileage|transmission|            power|             price|vehicleConfiguration| engineName|engineDisplacement|               date|   location|                link|         description|          parse_date|
+-------+-------+------------------+-------------+-------+--------+------------------+------------------+------------+-----------------+------------------+--------------------+-----------+------------------+-------------------+-----------+--------------------+--------------------+--------------------+
|  count|1513200|           1513200|      1513200|1403466| 1509640|           1102226|           1498720|     1510135|          1492313|           1513200|             1102226|    1101142|           1092435|            1513200|    1513200|             1513200|             1477463|             1513200|
|   mean|   null|1773.5805008944544|         null|   null|    null|2010.3404338130292|134250.93212874988|        null|145.8111408263548| 1368558.300035686|  11.250605168465825|       null|              null|               null|       null|                null|     8.9146877521E10|  3.3098591549295775|
| stddev|   null|1015.7212254077098|         null|   null|    null| 7.568867638264089| 85203.82544809658|        null|70.08857549984492|1573677.1363237544|   60.40935143592945|       null|              null|               null|       null|                null|                 0.0|  2.0669060668646346|
|    min|  Acura|          1-Series|   –î–∂–∏–ø 3 –¥–≤.|–ë–µ–∂–µ–≤—ã–π|  –ë–µ–Ω–∑–∏–Ω|              1943|              1000|        –ê–ö–ü–ü|                9|             15000| 1.0 CILQ G Packa...|       10HM|           0.5 LTR|2022-08-19 00:00:00|    –ê–Ω—É—á–∏–Ω–æ|https://anuchino....|! ! ! –ü–ï–†–ï–ö–£–ü–û–í –ü...|  –û–¢–õ–ò–ß–ù–û–ï –°–û–°–¢–û–Ø...|
|    max|    –£–ê–ó|            –•–∞–Ω—Ç–µ—Ä|–•—ç—Ç—á–±–µ–∫ 5 –¥–≤.| –ß–µ—Ä–Ω—ã–π| –≠–ª–µ–∫—Ç—Ä–æ|              2022|           1000000|       –†–æ–±–æ—Ç|             1000|          41500000|           –ì–ê–ó-–ú-21–õ|–£–ú–ó-4218.10|           6.4 LTR|2022-09-26 00:00:00|–Ø—Ä–æ—Å–ª–∞–≤—Å–∫–∏–π|https://zarubino....|                  ‚Ä¶‚Ä¶|—á–µ–º —É –∞–≤—Ç–æ–º–∞—Ç–∞.–ê–≤...|
+-------+-------+------------------+-------------+-------+--------+------------------+------------------+------------+-----------------+------------------+--------------------+-----------+------------------+-------------------+-----------+--------------------+--------------------+--------------------+

Ahora veremos si las columnas tienen el tipo de dato correcto.

In [10]:
# Obtenemos el tipo de dato de las columnas
for col in df_spark.dtypes:
    print(col[0]+" , "+col[1])

brand , string
name , string
bodyType , string
color , string
fuelType , string
year , int
mileage , int
transmission , string
power , int
price , int
vehicleConfiguration , string
engineName , string
engineDisplacement , string
date , string
location , string
link , string
description , string
parse_date , string

Ya que ahora los tipos de dato son correctos, procederemos a ver qu√© columnas presentan valores nulos

In [11]:
# Ahora contaremos los valores nulos con isnan, when, count y col
from pyspark.sql.functions import isnan, when, count, col
df_spark.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_spark.columns]).show(truncate=False)

+-----+----+--------+------+--------+------+-------+------------+-----+-----+--------------------+----------+------------------+----+--------+----+-----------+----------+
|brand|name|bodyType|color |fuelType|year  |mileage|transmission|power|price|vehicleConfiguration|engineName|engineDisplacement|date|location|link|description|parse_date|
+-----+----+--------+------+--------+------+-------+------------+-----+-----+--------------------+----------+------------------+----+--------+----+-----------+----------+
|0    |0   |0       |109734|3560    |410974|14480  |3065        |20887|0    |410974              |412058    |420765            |0   |0       |0   |35737      |0         |
+-----+----+--------+------+--------+------+-------+------------+-----+-----+--------------------+----------+------------------+----+--------+----+-----------+----------+

Como la tabla no sale bien, pondr√© manualmente qu√© columnas presentan valores nulos y cu√°ntos:
* Color: 109,734
* fuelType: 3,560
* Year: 410,974
* Mileage: 14,480
* Transmission: 3,065
* Power: 20,887
* vehicleConfiguration: 410,974
* engineName: 412,058
* engineDisplacement: 420,765
* description: 35,737

In [12]:
# Ahora para obtener los valores √∫nicos, utilizaremos count_distincst
from pyspark.sql.functions import count_distinct

# Contaremos los valores √∫nicos de cada columna
df_spark.select([count_distinct(c).alias(c) for c in df_spark.columns]).show()

+-----+----+--------+-----+--------+----+-------+------------+-----+-----+--------------------+----------+------------------+----+--------+-----+-----------+----------+
|brand|name|bodyType|color|fuelType|year|mileage|transmission|power|price|vehicleConfiguration|engineName|engineDisplacement|date|location| link|description|parse_date|
+-----+----+--------+-----+--------+----+-------+------------+-----+-----+--------------------+----------+------------------+----+--------+-----+-----------+----------+
|   74|1026|      11|   16|       3|  59|    541|           5|  352| 2986|                7955|      1149|                55|  39|      71|50119|      63606|      2521|
+-----+----+--------+-----+--------+----+-------+------------+-----+-----+--------------------+----------+------------------+----+--------+-----+-----------+----------+

Como la tabla no sale bien, pondr√© manualmente los valores √∫nicos de cada columna:
* brand:	67
* name:	884
* bodyType:	11
* color:	16
* fuelType:	3
* year:	54
* mileage:	483
* transmission:	5
* power:	323
* price:	2037
* vehicleConfiguration:	5620
* engineName:	897
* engineDisplacement:	53
* date:	16
* location:	69
* link:	24757
* description:	28790
* parse_date:	307

### b) ETL
Viendo un poco las columnas que tenemos y las descripciones cortas obtenidas de Kaggle, tenemos informaci√≥n que **no nos va a servir de inicio**, como ``parse_date``, ``description``, ``link``, ``location``, ``date``, ``engineDisplacement``, ``engineName``, ``vehicleConfiguration`` y ``year``.   

La justificaci√≥n de quitarlos es que presentan una gran cantidad de datos nulos, no son relevantes para la venta de un autom√≥vil, existen autom√≥viles viejos que pueden ser muy baratos y muy caros a la vez e incluso hay datos que son √∫nicos por registro. Entonces procederemos a hacer un drop de las columnas.

In [13]:
df_spark = df_spark.drop('year','vehicleConfiguration','engineName',
                         'engineDisplacement', 'link','description',
                         'parse_date','date','location')

Revisamos las columnas que nos quedan, ahora podremos trabajar mejor con estos datos.

In [14]:
df_spark.columns

['brand',
 'name',
 'bodyType',
 'color',
 'fuelType',
 'mileage',
 'transmission',
 'power',
 'price']

Procederemos a revisar las columnas con pocos valores √∫nicos y que coincidan con los nulos para ver lo que contienen

In [15]:
# Obtenemos los colores de los autom√≥viles
df_spark.select('color').distinct().collect()

[Row(color='–ë–æ—Ä–¥–æ–≤—ã–π'),
 Row(color='–ë–µ–ª—ã–π'),
 Row(color='–ó–æ–ª–æ—Ç–∏—Å—Ç—ã–π'),
 Row(color='–ö–æ—Ä–∏—á–Ω–µ–≤—ã–π'),
 Row(color=None),
 Row(color='–û—Ä–∞–Ω–∂–µ–≤—ã–π'),
 Row(color='–°–µ—Ä–µ–±—Ä–∏—Å—Ç—ã–π'),
 Row(color='–†–æ–∑–æ–≤—ã–π'),
 Row(color='–§–∏–æ–ª–µ—Ç–æ–≤—ã–π'),
 Row(color='–ë–µ–∂–µ–≤—ã–π'),
 Row(color='–ö—Ä–∞—Å–Ω—ã–π'),
 Row(color='–ì–æ–ª—É–±–æ–π'),
 Row(color='–°–µ—Ä—ã–π'),
 Row(color='–ñ–µ–ª—Ç—ã–π'),
 Row(color='–ó–µ–ª–µ–Ω—ã–π'),
 Row(color='–ß–µ—Ä–Ω—ã–π'),
 Row(color='–°–∏–Ω–∏–π')]

In [16]:
# Obtenemos los tipos de combusti√≥n de los autom√≥viles
df_spark.select('fuelType').distinct().collect()

[Row(fuelType=None),
 Row(fuelType='–î–∏–∑–µ–ª—å'),
 Row(fuelType='–≠–ª–µ–∫—Ç—Ä–æ'),
 Row(fuelType='–ë–µ–Ω–∑–∏–Ω')]

In [17]:
# Transmisi√≥n
df_spark.select('transmission').distinct().collect()

[Row(transmission='–ú–µ—Ö–∞–Ω–∏–∫–∞'),
 Row(transmission='–†–æ–±–æ—Ç'),
 Row(transmission=None),
 Row(transmission='–í–∞—Ä–∏–∞—Ç–æ—Ä'),
 Row(transmission='–ê–≤—Ç–æ–º–∞—Ç'),
 Row(transmission='–ê–ö–ü–ü')]

Despu√©s de un an√°lisis r√°pido, pude ver que es posible generalizar datos nulos en vez de borrarlos directamente y comenzar a perder informaci√≥n.   

Por ejemplo, el color m√°s com√∫n de los autom√≥viles es blanco y podemos partir de ah√≠ para rellenar los strings nulos o vac√≠os con ``–ë–µ–ª—ã–π``.

In [18]:
df_spark = df_spark.na.fill('–ë–µ–ª—ã–π', 'color')

Ahora, el tipo de combustible que m√°s se ues es la gasolina, siendo la m√°s com√∫n de los autom√≥viles, as√≠ que llenar√© el tipo de combustible con ``–ë–µ–Ω–∑–∏–Ω``.

In [19]:
df_spark = df_spark.na.fill('–ë–µ–Ω–∑–∏–Ω', 'fuelType')

Revisando el progreso de los valores nulos, ahora s√≥lo quedan las columnas de kilometraje, poder y transmisi√≥n.

In [20]:
df_spark.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_spark.columns]).show(truncate=False)

+-----+----+--------+-----+--------+-------+------------+-----+-----+
|brand|name|bodyType|color|fuelType|mileage|transmission|power|price|
+-----+----+--------+-----+--------+-------+------------+-----+-----+
|0    |0   |0       |0    |0       |14480  |3065        |20887|0    |
+-----+----+--------+-----+--------+-------+------------+-----+-----+

Las columnas de poder y kilometraje las podemos reemplazar con valores de la media, el promedio o la moda ya que son columnas con el tipo de dato entero.

In [21]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols = ['power', 'mileage'],
    outputCols = ['power', 'mileage']
).setStrategy('mean')

In [22]:
df_spark = imputer.fit(df_spark).transform(df_spark)

Quiz√° sea bueno poner los tipos de transmisi√≥n faltantes con la moda por esta ocasi√≥n.   

Usar√© consultas SQL ya que no encontr√© otra manera de hallar la moda y el Imputer tristemente me da error si trato de hacerlo con tipo de dato de string.

In [25]:
df_aux = df_spark.where(col('transmission').isNotNull())

df_aux.createOrReplaceTempView('table')
df_aux_2 = spark_session.sql(
    'SELECT transmission, COUNT(transmission) AS count FROM table GROUP BY transmission ORDER BY count desc'
)

df_aux_2.show()

+------------+------+
|transmission| count|
+------------+------+
|    –í–∞—Ä–∏–∞—Ç–æ—Ä|677023|
|        –ê–ö–ü–ü|645355|
|    –ú–µ—Ö–∞–Ω–∏–∫–∞| 73331|
|     –ê–≤—Ç–æ–º–∞—Ç| 59233|
|       –†–æ–±–æ—Ç| 55193|
+------------+------+

Podemos observar que el tipo de transmisi√≥n m√°s com√∫n es el de CVT, (o transmisi√≥n continuamente variable), as√≠ que se lo asignaremos a los valores nulos.

In [26]:
df_spark = df_spark.na.fill('–í–∞—Ä–∏–∞—Ç–æ—Ä', 'transmission')

Ahora revisar√© si ya no tenemos valores nulos en nuestro dataset...

In [27]:
df_spark.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df_spark.columns]).show(truncate=False)

+-----+----+--------+-----+--------+-------+------------+-----+-----+
|brand|name|bodyType|color|fuelType|mileage|transmission|power|price|
+-----+----+--------+-----+--------+-------+------------+-----+-----+
|0    |0   |0       |0    |0       |0      |0           |0    |0    |
+-----+----+--------+-----+--------+-------+------------+-----+-----+

Ya que no tenemos ning√∫n dato nulo y puedo decir que ahora mis datos est√°n limpios, guardar√© una copia y la insertar√© dentro de Tableau m√°s adelante para observar datos de forma visual y darme una idea de c√≥mo est√°n las cosas. üòÄ

In [ ]:
# df.write.option("header",true).csv('region25_less.csv')

### c) Generando el modelo con MLLib
Ahora vamos a generar un modelo inteligente de clasificaci√≥n de regresi√≥n con el objetivo de predecir el precio de los autom√≥viles en el mercado libre ruso de autom√≥viles.   

Primero importamos las herramientas para entrenar con regresi√≥n lineal.

In [28]:
from pyspark.mllib.linalg import SparseVector
from pyspark.mllib.regression import LabeledPoint

In [31]:
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

Ahora separamos los datos de entrenamiento y de prueba

In [29]:
(trainingData, testData) = df_spark.randomSplit([0.8, 0.2])

Procedemos a usar la funci√≥n de regresi√≥n linear con gradiente descendiente usando los datos de entrenamiento.

In [ ]:
lrm = LinearRegressionWithSGD.train(sc.parallelize(trainingData), iterations=10,
    initialWeights=np.array([1.0]))

## 4. Evaluando el modelo con PySpark

## 5. Generando un tablero de visualizaci√≥n con Tableau